*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 105%;
}

.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color: #2ed573;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #5352ed;
}

.btn-secondary{
    background-color: #A3CB38;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary:hover{
    background-color: #9980FA;
}

.btn-danger{
    background-color: #ED4C67;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: #1289A7;
}

.succes{
    color: #009432;
}

.error{
    color: #EA2027;
}

/*menü css*/
.menu{
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #7158e2;

}

.menu ul li a:hover{
    color: #17c0eb;
}

/*main-content css*/
.main-content{
    margin: 1% 0;
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;

}

/*footer css*/
.footer{
    background-color: #7d5fff;
}

/*bejelentkezés*/
.login{
    border: 1px solid grey;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}

